*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
    color: crimson;
}

h2 {
    color: blue;
}
 h3 {
    color: black;
}

h4 {
    color: aqua;
}

h5 {
    color: chartreuse;
}

h6 {
    color: blueviolet;
}

.h11 {
    color: black;   
    margin-bottom: 10px;
}

.h12 {
    color: black;
    margin-bottom: 15px;
}

.bodi {
    background-color: rgb(255, 255, 255);
}

.box2 {
    background-color: white;
    margin-bottom: 15px;
    border-left: 5px solid green;
}

.box1 {
    background-color: lightgrey;
    border-bottom: 10px;
    padding: 8px 12px;
    border: 10px;
}

.h13 {
    margin-bottom: 15px;
}

.h14 {
    color: black;
    margin-top: 10px;
}

.box3 {
    background-color: white;
}

.h15 {
    color: black;
    margin-bottom: 15px;
}

.highlight {
    background-color: yellow;
}

.link {
    color: white;
    background-color: lightgreen;
    border-radius: 5px;
    font-size: 17px;
    padding: 6px 18px;
    margin-top: 10px;
}

.box4 {
    background-color: gold;
    margin: auto;
    font-size: 10px;
    width: 300px;
}
 .h16 {
    color: black;
    font-size: 30px;
 }

 .intel {
    color: blueviolet;
    font-size: 30px;
 }
  iframe {
    height: 900px;
    width: 900px;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

  .fname {
    color: red;
  }

  .lname {
    color: blue;
  }

  .pswr {
    color: forestgreen;
  }

  .age {
    color: black;
  }

  .m {
    color: brown;
  }

  .f {
    color: purple;
  }

  .david {
    margin-right: auto;
  }

  .jessica {
    margin-right: auto;
  }
  